
.c-f-b  {
    padding-bottom: 50px;
    padding-top: 50px;
}

.a-card{
    width: 30rem;
}
.a-card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,253)!important ;
    transition:  all 0.4s ease;
}
.c-b-b{
    padding: 3rem 0!important;
}
.b-card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;

}
.c-f-b .row{
    padding-top: 6rem;


}


@media screen and (max-width: 960px){
    .a-card{
        width: 30rem;
    }

}